<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-sj-utils"
    version="1.0.0">
    <name>SJUtilsPlugin</name>
    <description>Cordova Plugin SJUtils</description>
    <author>FHSJ</author>
    <license>MIT License</license>
    <keywords>cordova,sjutils</keywords>

    <js-module src="SJUtilsPlugin.js" name="SJUtilsPlugin">
        <clobbers target="window.plugins.SJUtilsPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SJUtilsPlugin" >
                <param name="android-package" value="com.fhsjdz.cordova.utils.SJUtilsPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
        </config-file>

        <lib-file src="src/android/libs/esptouch-v0.3.6.2.jar" />
        <source-file src="src/android/update/Constants.java" target-dir="src/com/fhsjdz/cordova/utils/update" />
        <source-file src="src/android/update/DownloadApkThread.java" target-dir="src/com/fhsjdz/cordova/utils/update" />
        <source-file src="src/android/update/DownloadHandler.java" target-dir="src/com/fhsjdz/cordova/utils/update" />
        <source-file src="src/android/update/MsgBox.java" target-dir="src/com/fhsjdz/cordova/utils/update" />
        <source-file src="src/android/update/UpdateManager.java" target-dir="src/com/fhsjdz/cordova/utils/update" />

        <source-file src="src/android/WifiAdmin.java" target-dir="src/com/fhsjdz/cordova/utils" />
        <source-file src="src/android/SJUtilsPlugin.java" target-dir="src/com/fhsjdz/cordova/utils" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SJUtilsPlugin">
                <param name="ios-package" value="SJUtilsPlugin"/>
            </feature>
        </config-file>
        
        <framework src="src/ios/Esptouch.framework" custom="true" framework="true"/>

        <header-file src="src/ios/AsyncUdpSocket.h" />
        <source-file src="src/ios/AsyncUdpSocket.m" />
        <header-file src="src/ios/SJUtilsPlugin.h" />
        <source-file src="src/ios/SJUtilsPlugin.m" />
    </platform>
</plugin>
